<!DOCTYPE html>
<html>
    <nav class = 'navbar navbar-light bg-light">'
        <div class="container d-flex mb-3">
            <a class="navbar-brand p-2" href="#" onclick="window.location.href = window.location.origin;">
                <img src="/images/Soccer_ball.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
                Soccer
            </a>
            <a class="p-2 ms-auto btn btn-secondary btn-sm" href="/login">Log in</a>
            <a class="p-2 ms-auto btn btn-secondary btn-sm" href="/createaccount">Create Account</a>
        </div>
    </nav>
</html>