<!doctype html>
<html>
<head>
    {{>head}}
</head>

<body>
<nav>
    {{>navbar}}
</nav>

    <div class="container">
        <div class="row">
            <div class="col-4">
            
                <h3>
                  We're sorry, this website is not available.
                </h3>

            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>